<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - DkitShopWebSite</title>
    @await Html.PartialAsync("HeadPartial")
</head>
<body>

    @await Html.PartialAsync("PreloaderPartial")
    @await Html.PartialAsync("ScriptsPartial")
    @await Html.PartialAsync("HeaderPartial")


    <div>
            @RenderBody()
    </div>

    @await Html.PartialAsync("FooterPartial")

</body>
</html>
