@{
    ViewData["Title"] = "Панель администратора";
}

<br/>
<br/>
<br/>
<br/>
<h2 class="text-center">Панель администратора</h2>
<br/>
<br/>

<div class="container">
    <div class="row">
        <div class="col">
            <div>
                <div class="card service-item text-center" style="margin:10px; padding:10px;">
                    <div class="cardIcon">
                        <image src="/images/Users.png"></image>
                    </div>
                    <div class="card-body">
                        <div class="justify-content-center">
                            <h5 class="card-title">Редактирование пользователей</h5>
                            <a class="filled-button" href="/Users">Перейти</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
         <div class="col">
            <div>
                <div class="card service-item text-center" style="margin:10px; padding:10px;">
                    <div class="cardIcon">
                        <image src="/images/Product.png"></image>
                    </div>
                    <div class="card-body">
                        <div class="justify-content-center">
                            <h5 class="card-title">Редактирование услуг</h5>
                            <a class="filled-button" href="/Products">Перейти</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
         <div class="col">
            <div>
                <div class="card service-item text-center" style="margin:10px; padding:10px;">
                    <div class="cardIcon">
                        <image src="/images/ProductType.png"></image>
                    </div>
                    <div class="card-body">
                        <div class="justify-content-center">
                            <h5 class="card-title">Редактирование типов услуг</h5>
                            <a class="filled-button" href="/ProductsType">Перейти</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
         <div class="col">
            <div>
                <div class="card service-item text-center" style="margin:10px; padding:10px;">
                    <div class="cardIcon">
                        <image src="/images/Basket.png"></image>
                    </div>
                    <div class="card-body">
                        <div class="justify-content-center">
                            <h5 class="card-title">Редактирование корзины</h5>
                            <a class="filled-button" href="/Basket">Перейти</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
