@model WebApi.Domain.Entities.Users

@{
    ViewData["Title"] = "Edit";
}
<div class="container">
<br/>
<br/>
<br/>
<br/>

<h1>Edit</h1>

<h4>Users</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ProfileEdit" asp-controller="Home" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Login" class="control-label"></label>
                <input asp-for="Login" name="login" class="form-control" />
                <span asp-validation-for="Login" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" name="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name"  name="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AvatarBase64" class="control-label"></label>
                <input name="AvatarBase64" type="file" accept=".jpg, .jpeg, .png" class="form-control" />
                @if(Model.AvatarBase64 != null)
                    {
                        <img src="@Model.AvatarBase64"/>
                        <input type="text" hidden name="oldImg" value="@Model.AvatarBase64" />
                    }
                <span asp-validation-for="AvatarBase64" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a href="/Home/Profile">Back to List</a>
</div>

</div>